<launch>
rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.108 image:=/my_camera/image camera:=/my_camera
  <node name="cameracalibrator" pkg="camera_calibration" type="cameracalibrator.py" args="--size 8x --square 0.108">
    <remap from="image" to="" />
    <remap from="camera" to="" />
  </node>
</launch>
